#gamefield-wrapper {
	background-color: orange;
	margin: 0 10px;
}
#gamefield {
	cursor: crosshair;
	cursor: none;
}
#main-wrapper {
	height: 520px;
	width: 1140px;
	margin: 0 auto;
}
#gamefield-wrapper {
	padding: 4px;
	float: left;
}
#library {
	height: 520px;
	float: left;
	width: 160px;
	margin-left: 140px;
	text-align: center;
	overflow-y: auto;
}
#library .item {
	display: none;
	padding-bottom: 10px;
}
#library img {
}
#library .name {
	display: block;
	font-size: 13px;
	font-family: sans-serif;
}
#description {
	width: 300px;
	height: 520px;
	float: left;
	position: relative;
}
#description .text {
	padding-top: 10px;
	font-style: italic;
}
#description .footer {
	position: absolute;
	bottom: 0px;
}
#gamefield-wrapper.won {
	background-color: lime;
}
#toolbar {
	background-color: black;
	width: 512px;
	padding: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 28px;
}
#buttons {
	float: left;
}
#statistics {
	float: right;
	font-size: 11px;
	font-family: sans;
	color: white;
	text-align: right;
}
/* Annoying text selection cursor while dragging over canvas :'( */
body {
	user-select: none;
	-webkit-user-select: none;
	cursor: default; /* might as well hide text selection cursor since you can't select it now */
}
/*#library, #statistics, #console, #description {
	user-select: initial;
	-webkit-user-select: initial;
}*/
#console {
	clear: both;
	background-color: #000;
	color: #fff;
	padding: 4px;
	font-family: consolas, "courier new";
	font-size: 13px;
	width: 512px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#console, #toolbar {
	margin-left: 310px;
}
#button-level-prev {
	display: none;
}
h1 {
	text-align: center;
}
