/* Annoying text selection cursor while dragging over canvas :'( */
body {
	user-select: none;
	-webkit-user-select: none;
	cursor: default; /* might as well hide text selection cursor since you can't select it now */
	font-family: sans-serif;
	font-size: 15px;
	color: #fff;
	background-color: #000;
}
/*#library, #statistics, #console, #description {
	user-select: initial;
	-webkit-user-select: initial;
}*/
#center-column {
	margin: 0 10px;
	padding: 4px;
	float: left;
}
#gamefield {
	cursor: crosshair;
	cursor: none;
}
#gamefield,
#starfield {
	position: absolute;
	top: 4px;
	left: 4px;
}

#main-wrapper {
	width: 1140px;
	margin: 0 auto;
}
#library {
	float: left;
	width: 150px;
	margin-left: 140px;
	text-align: center;
	overflow-y: auto;
}
#library .item {
	display: none;
	padding-bottom: 10px;
}
#library .name {
	display: block;
	font-size: 13px;
	font-family: sans-serif;
}
#library a {
	color: white;
}
#description {
	width: 300px;
	float: left;
	position: relative;
	font-size: 14px;
}
#description a {
	color: #0033cc;
}
#description, #library {
	height: 556px;
}
#description .text {
	padding-top: 10px;
	/*font-style: italic;*/
}
#description .footer {
	position: absolute;
	bottom: 0px;
	background-color: #111;
	padding: 4px 7px;
	border-radius: 6;
	font-size: 12px;
	width: 100%;
}
#gamefield-wrapper {
	background-color: #222;
	width: 520px;
	height: 520px;
	position: relative;
	border-radius: 3px;
}
#gamefield-wrapper.playing {
	background-color: orange;
}
#gamefield-wrapper.won {
	background-color: lime;
}
#toolbar {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 28px;
}
#buttons {
	float: left;
}
#statistics {
	float: right;
	font-size: 11px;
	font-family: sans;
	color: white;
	text-align: right;
}
#console {
	clear: both;
	font-family: consolas, "courier new";
	font-size: 13px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#toolbar, #console {
	width: 512px;
	background-color: #111;
	color: #fff;
	padding: 4px;
}
/*#console, #toolbar {*/
	/*margin-left: 310px;*/
/*}*/
h1, h2 {
	text-align: center;
	font-size: 21px;
	font-family: "Courier New";
	margin: 0px; padding: 4px 0;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
}
h2 {
	font-size: 16px;
}
#level-info {
	padding-bottom: 8px;
}
